.DS_Store
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Saccharomyces_cerevisiae_4932/GO_BP_Saccharomyces_cerevisiae_EntrezID.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Daphnia_pulex_6669/Genomic_location_Ensembl_Daphnia_pulex_20genes_EntrezID.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Daphnia_pulex_6669/Genomic_location_Ensembl_Daphnia_pulex_5genes_EntrezID.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Daphnia_pulex_6669/Genomic_location_Ensembl_Daphnia_pulex_10genes_EntrezID.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Drosophila_melanogaster_7227/Pathways_SignaLink_Drosophila_melanogaster_EntrezID.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Drosophila_melanogaster_7227/Pathways_SignaLink_Drosophila_melanogaster_UniprotID.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Drosophila_melanogaster_7227/Pathways_SignaLink_Drosophila_melanogaster_EnsemblID.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Saccharomyces_cerevisiae_4932/GO_CC_Saccharomyces_cerevisiae_EnsemblID.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Gallus_gallus_9031/miRNA_regulation_miRTarBase_Gallus_gallus_EntrezID.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Rattus_norvegicus_10116/Transcription_factor_TFLink_Rattus_norvegicus_SS_EnsemblID.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Caenorhabditis_elegans_6239/Pathways_SignaLink_Caenorhabditis_elegans_EntrezID.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Caenorhabditis_elegans_6239/Pathways_SignaLink_Caenorhabditis_elegans_EnsemblID.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Caenorhabditis_elegans_6239/Pathways_SignaLink_Caenorhabditis_elegans_GeneSymbol.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Caenorhabditis_elegans_6239/Pathways_SignaLink_Caenorhabditis_elegans_UniprotID.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Rattus_norvegicus_10116/Transcription_factor_TFLink_Rattus_norvegicus_SS_EntrezID.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Rattus_norvegicus_10116/Transcription_factor_TFLink_Rattus_norvegicus_SS_GeneSymbol.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Rattus_norvegicus_10116/Transcription_factor_TFLink_Rattus_norvegicus_SS_UniprotID.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Drosophila_melanogaster_7227/Pathways_SignaLink_Drosophila_melanogaster_GeneSymbol.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Gallus_gallus_9031/miRNA_regulation_miRTarBase_Gallus_gallus_EnsemblID.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Danio_rerio_7955/Pathways_SignaLink_Danio_rerio_EnsemblID.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Danio_rerio_7955/Pathways_SignaLink_Danio_rerio_GeneSymbol.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Danio_rerio_7955/Pathways_SignaLink_Danio_rerio_EntrezID.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Gallus_gallus_9031/miRNA_regulation_miRTarBase_Gallus_gallus_UniprotID.gmt
Users/molbei/Documents/Projects/MulEA_db/GMT_files_for_mulea/GMT_files//Danio_rerio_7955/Pathways_SignaLink_Danio_rerio_UniProt.gmt